  <!--TEAM INTRO -->
  <div class="row team">
    <div class="col-md-offset-2 col-md-8">
      <h3 class="team-title">Our Creative Team</h3>
      <p class="text-center team-desc">make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised shing</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 team1 ">
      <div class="img-block"> <img alt="#" src="image/team1.jpg" class="img-responsive"> </div>
      <div class="text-box">
        <h3 class="name">Joeby Ragpa</h3>
        <div class="deg">CEO Founder </div>
        <p>make a type specimen book. It has survived not only five centuries, but also the leap</p>
        <div class="social-holder">
          <ul class="social">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 team2 ">
      <div class="img-block"> <img alt="#" src="image/team2.jpg" class="img-responsive"> </div>
      <div class="text-box">
        <h3 class="name">Joeby Ragpa</h3>
        <div class="deg">CEO Founder </div>
        <p>make a type specimen book. It has survived not only five centuries, but also the leap</p>
        <div class="social-holder">
          <ul class="social">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 team3 ">
      <div class="img-block"> <img alt="#" src="image/team3.jpg" class="img-responsive"> </div>
      <div class="text-box">
        <h3 class="name">Joeby Ragpa</h3>
        <div class="deg">CEO Founder </div>
        <p>make a type specimen book. It has survived not only five centuries, but also the leap</p>
        <div class="social-holder">
          <ul class="social">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3  col-xs-6 team4 ">
      <div class="img-block"> <img alt="#" src="image/team4.jpg" class="img-responsive"> </div>
      <div class="text-box">
        <h3 class="name">Joeby Ragpa</h3>
        <div class="deg">CEO Founder </div>
        <p>make a type specimen book. It has survived not only five centuries, but also the leap</p>
        <div class="social-holder">
          <ul class="social">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row about">
    <div class="col-md-offset-2 col-md-8">
      <h3 class="about-title">About Us</h3>
      <p class="text-center about-desc">make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised shing</p>
    </div>
    <div class="skill">
      <div class="col-md-4">
        <ul>
          <li>
            <div id="progress1">
              <h4>78% Production Skills</h4>
            </div>
          </li>
          <li>
            <div id="progress2">
              <h4>90% Publishing Skills</h4>
            </div>
          </li>
          <li>
            <div id="progress3">
              <h4> 76% Marketing Skills</h4>
            </div>
          </li>
          <li>
            <div id="progress4">
              <h4>98% Business Skills</h4>
            </div>
          </li>
          <li>
            <div id="progress5">
              <h4>62% Photography</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>