{% extends 'base.html' %}

{% block title%} Contact Us {% endblock %}

{% block content %}
<!--TOP BANNER-->
<div class="breadcrumb parallax">
  <h1>Frequently Asked Questions</h1>
  <ul>
    <li><a href="/website/">Home</a></li>
    <li><a href="/website/about/">About Us</a></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3 class="contactus-title">You Have Got Questions We have Got Answers</h3></br></br>
        <div class="text-justified contact-desc">
            <h4>Q: How do I know if an item is available?</h4>
            <p>Stock availability is updated regularly. If an item is unavailable, it will be reflected on the product page.</p>
            <h4>Q: How do I check the status of my order, return or exchange?</h4>
            <p>You can check on the status of your order by clicking on the Order History page in the 'My Account' section of our online store.</p>
            <h4>Q: Do you send order confirmations?</h4>
            <p>Yes, we automatically send you an email confirmation of your order. In addition, we will send you another email confirmation after your order has shipped. If you have not received your confirmation, please double check the email address you provided.</p>
            <h4>Q: Why is my order delayed?</h4>
            <p>Orders are generally processed within 24 hours. If your Order Status indicates that your order has not yet shipped but the merchandise is in stock, this could be the result of one of the following:</br>We were unable to obtain a proper credit approval for your purchase We were provided a credit card billing address that could not be verified with your credit card issuer.</br>Please note that it's important to provide the phone number registered with your credit card issuer when you place your order, so that we may reach you to discuss any problems with your order. We use only verified phone numbers in an effort to further ensure your order's security.</p>
            <h4>Q: Where do I make changes to my account?</h4>
            <p>To edit your account information, go to the My Account section. After logging in, you will have access to your general account information, address book, wish list, and order history.</p>
            <h4>Q: How do I change my billing and/or shipping address?</h4>
            <p>To edit your billing and/or shipping address, follow the directions above in "Where do I make changes to my account?", and select the "Address Book" section. Once you're there, you'll be able to add, edit, or remove addresses used for billing and shipping.</p>
            <h4>Q: What is your return policy?</h4>
            <p>If for any reason you are not completely satisfied with your CanaLiving.com purchase you can return the products for a full refund of the purchase price (less original shipping and handling fees) within 30 days of purchase. Shipping costs for any returns will not be reimbursed by CanaLiving.com unless there was a shipping error or product damage.</p>
            <h4>Q: What payment methods do you accept?</h4>
            <p>CanaLiving.com accepts the following forms of payment:</br>American Express</br>Mastercard</br>PayPal</br>Visa</p>
            <h4>Q: What if the product I ordered on the site looks different than the product I received?</h4>
            <p>We periodically update the packaging of our products, so it's possible that you may receive a product that looks slightly different from what is depicted on the site. If you still feel that you have received the wrong product, please contact CanaLiving Customer Service through our <href>Contact Us</href>> section.</p>
            <h4>Q: Why can't I purchase more than 10 units of any single product? </h4>
            <p>We limit the quantity to 10 units for any single product per order. If you would like to purchase more than 10 units of one product, please contact our customer service team and they would be happy to assist you.</p>
            <h4>Q: How can I be removed from your mailing list?</h4>
            <p>You can unsubscribe from the CanaLiving mailing list at any time. Simply select the "Unsubscribe" link at the bottom of any CanaLiving email communication.</p>
            <h4>Q: Is my information secure?</h4>
            <p>You can be assured that personal information collected through this site is secure. Please read our <href:>Privacy Policy</href:> to learn more.</p>
            <h4>Q: What if I didn't find my question here?</h4>
            <p>If you have a question that's not answered in our FAQs, we want to hear it. Simply send your question via our href: Contact Us page.</p>
            </br>Back to Top href
        </div>
    </div>
  </div>
</div>
{% endblock%}